{% extends 'base.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}
<turbo-frame id="id_article" class="container mx-auto p-4">
    <h1 class="text-center font-semibold text-xl py-4">Ajouter un article</h1>
    {{ include('components/_toast.html.twig') }}
    {{form(articleForm)}}
    
</turbo-frame>
{% endblock %}